body, html{
  height: 100%;
}

.identification{
  width: 200px;
  margin: 0 auto;
  margin-top:10%;
}

.btn-large {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
}

.right {
  position: absolute;
  right: 0px;
}

.cardmargin {
  margin: 0.5rem 0 1rem 0;
}

.card-pannel.small.red.darken-2.white-text {
  margin-top: 4px;
}

.card-pannel.small.green.darken-1.white-text {
  margin-top: 4px;
}

nav {
  margin-bottom: 15px;
  padding-left: 10px;
}